<app-header name="card"></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore corrupti,
      dolore facere ducimus impedit id beatae? Saepe sunt neque consequatur
      distinctio perspiciatis! Culpa quae aperiam quo laudantium incidunt libero
      tenetur.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label
        style="
          background-image: url('https://images.pexels.com/photos/163077/mario-yoschi-figures-funny-163077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
          background-size: cover;
          background-repeat: no-repeat;
          height: 100px;
        "
        >Awesome Label</ion-label
      >
    </ion-item>
    <ion-icon slot="start" name="add"></ion-icon>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
      quisquam! Alias magni ipsa iusto ex repellat qui. Labore provident dolore,
      dolores dignissimos deleniti, et placeat exercitationem, dolorum magnam
      mollitia molestias.
    </ion-card-content>
  </ion-card>
</ion-content>
