<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>

  <ion-segment value="Marvel comics" (ionChange)="segmentChanged()">
    <ion-segment-button value="Todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Dc comics">
      <ion-label>Dc comics</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Marvel comics">
      <ion-label>Marvel comics</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let heroe of superheroes | async">
      <ion-label>
        <h3>{{heroe.superhero}} <small>{{heroe.alter_ego}}</small></h3>
        <p>{{heroe.first_appearance}}</p>
      </ion-label>

      <ion-label slot="end">{{heroe.publisher}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
