<app-header name="list-reorder"></app-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-reorder-group (ionItemReorder)="handleReorder($event)" disabled="false">
      <ion-reorder>
        <ion-item>
          <ion-label> Item 1 </ion-label>
        </ion-item>
      </ion-reorder>
      <ion-reorder>
        <ion-item>
          <ion-label> Item 1 </ion-label>
        </ion-item>
      </ion-reorder>
      <ion-reorder>
        <ion-item>
          <ion-label> Item 1 </ion-label>
        </ion-item>
      </ion-reorder>
      <ion-reorder>
        <ion-item>
          <ion-label> Item 1 </ion-label>
        </ion-item>
      </ion-reorder>
      <ion-reorder>
        <ion-item>
          <ion-label> Item 1 </ion-label>
        </ion-item>
      </ion-reorder>
    </ion-reorder-group></ion-list
  >
</ion-content>
