<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      *ngFor="let componente of componentes | async"
      [routerLink]="componente.redirect"
    >
      <ion-icon
        name="{{componente.icon}}"
        routerLink="{{componente.redirect}}"
        color="secondary"
      ></ion-icon>
      {{componente.name}}
    </ion-item>
  </ion-list>
</ion-content>
